body {
    background-color: #fff0f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    padding: 50px;
    color: #ff4d6d;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;
    height: 350px;
    perspective: 1000px; /* Эффект объема для поворота */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg); /* Поворот при наведении */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front {
    background-color: #ff758f;
    color: white;
    font-size: 50px;
}

.card-back {
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

.info {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 15px 15px;
}